.center {
    padding-top: 200px;
    text-align: center;
}

input[type=text] {
    margin: 20px;
    width: 600px;
    height: 40px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size: 100%;
  }

  input[type=submit] {
    background-color: rgb(239, 245, 239);
    border: none;
    color: black;
    margin: 20px 5px;
    padding: 10px 20px;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;

  }

  #profile_pic {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 25px;
    top: 15px;
}

  .right-header-link {
    position: absolute;
    right: 100px;
    top: 20px;
  }
  .left-header-link {
    position: absolute;
    left: 25px;
    top: 20px;
  }
  .link {
    color:black;
    padding: 5px;
    text-decoration: none;
  }

  .right-footer-link {
    position: absolute;
    right: 25px;
    bottom: 20px;
  }
  .left-footer-link {
    position: absolute;
    left: 25px;
    bottom: 20px;
  }

  .footer {
    position:absolute;
   bottom:0;
   width:99%;
   height:50px;   /* Height of the footer */
   background:rgb(196, 178, 178);
  }